<div class="row">
    <div class="col-xs-6 ">
        <label>by ID :</label>
        <input type="text" placeholder="Search by ID" ng-model="searchName.empID" class="form-control">
    </div>
    <div class="col-xs-6 ">
        <label> by Name :</label>
        <input type="text" placeholder="Search by Name" ng-model="searchName.empName" class="form-control">
    </div>
    <div class="col-xs-6 ">
        <label>by Email :</label>
        <input type="text" placeholder="Search by Email" ng-model="searchName.empEmail" class="form-control">
    </div>
    <div class="col-xs-6 ">
        <label>by Country :</label>
        <input type="text" placeholder="Search by Country" ng-model="searchName.empCountry" class="form-control">
    </div>
</div>
<br>
<div class="table-responsive">
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Country</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
        <tr ng-repeat="employee in employees | filter:searchName">
            <td>{{employee.empID}}</td>
            <td>{{employee.empName}}</td>
            <td>{{employee.empEmail}}</td>
            <td>{{employee.empCountry}}</td>
            <td><button type="button" ng-click="removeEmp($index)" class="btn btn-danger full-width">Delete</button></td>
            <td><button type="button" ng-click="selectEdit($index)" class="btn btn-info full-width">Edit</button></td>
        </tr>
    </table>
</div>
<br>
<form name="addEmployee" novalidate ng-submit="addEmployee.$valid && addEmp()">
    <div class="form-horizontal">
        <div class="form-group">
            <label>Name</label>
            <input type="text" ng-model="empName" name="empName" class="form-control" required>
            <span class="error" ng-show="addEmployee.empName.$error.required">
        Required!
        </span>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="email" ng-model="empEmail" name="empEmail" class="form-control" required>
            <span class="error" ng-show="addEmployee.empEmail.$error.required">
        Required!
        </span>
        </div>
        <div class="form-group">
            <label>Country</label>
            <input type="text" ng-model="empCountry" name="empCountry" class="form-control" required>
            <span class="error" ng-show="addEmployee.empCountry.$error.required">
        Required!
        </span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Add</button>
            <button ng-click="save()" type="button" class="btn btn-default">Save</button>
        </div>
    </div>
</form>
<h1>All inputs are completed: <span ng-class="{'green':addEmployee.$valid}">{{addEmployee.$valid}}</span></h1>
</div>