/* app css stylesheet */
*
{
  font-family: 'Ubuntu', sans-serif;
}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

body {
  font-family: Arial;
}

table {
  border-collapse: collapse;
  display: inline-table;
}

td {
  border: 1px solid black;
  padding: 5px;
}

th {
  border: 1px solid black;
  padding: 5px;
  text-align: left;
}
a:hover{color: black}
.container
{
  width:80%;
  margin: 0 auto;
}
.aa
{
  background-color: #DDDDDD;
}
.update{margin-left:5px}
span{color: red}
.green
{
  color: green;
}
.full-width
{
  width:100%;
}