<fieldset>
    <div><legend align="center"><h1>Add New unique Employee</h1></legend><br></div>
</fieldset>
<table>
    <tr>
        <th>ID</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>Country</th>
        <th>Delete</th>
        <th>Edit</th>
    </tr>
    <tr ng-repeat="employee in employees">
        <td>{{employee.empID}}</td>
        <td>{{employee.empName}}</td>
        <td>{{employee.empEmail}}</td>
        <td>{{employee.empCountry}}</td>
        <td><a href="" ng-click="removeEmp($index)">Delete</a></td>
        <td><a href="" ng-click="selectEdit($index)">Edit</a></td>
    </tr>
</table>
<br><br>
<form name="addEmployee" novalidate ng-submit="addEmployee.$valid && addEmp()">
    <table class="update">
        <tr>
            <td class="aa">Name</td>
            <td><input type="text" ng-model="empName" name="empName" required>
                <span class="error" ng-show="addEmployee.empName.$error.required">
       Required!</span>
            </td>
        </tr>
        <tr>
            <td class="aa">Email</td>
            <td><input type="email" ng-model="empEmail" name="empEmail" required>
                <span class="error" ng-show="addEmployee.empEmail.$error.required">
       Required!</span>
            </td>
        </tr>
        <tr>
            <td class="aa">Country
            </td>
            <td><input type="text" ng-model="empCountry" name="empCountry" required>
                <span class="error" ng-show="addEmployee.empCountry.$error.required">
       Required!</span>
            </td>
        </tr>
        <tr>
            <td class="btn"><input type="submit" value="Add"></td>
            <td class="btn"><button ng-click="save()" type="button">Save</button></td>
        </tr>
    </table>
</form>
<h1>All inputs are completed: <span ng-class="{'green':addEmployee.$valid}">{{addEmployee.$valid}}</span></h1>
</div>